
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');


@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.eot');
    src: url('../font/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Light.woff2') format('woff2'),
        url('../font/Pretendard-Light.woff') format('woff'),
        url('../font/Pretendard-Light.ttf') format('truetype'),
        url('../font/Pretendard-Light.svg#Pretendard-Light') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Regular.eot');
    src: url('../font/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Regular.woff2') format('woff2'),
        url('../font/Pretendard-Regular.woff') format('woff'),
        url('../font/Pretendard-Regular.ttf') format('truetype'),
        url('../font/Pretendard-Regular.svg#Pretendard-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.eot');
    src: url('../font/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Bold.woff2') format('woff2'),
        url('../font/Pretendard-Bold.woff') format('woff'),
        url('../font/Pretendard-Bold.ttf') format('truetype'),
        url('../font/Pretendard-Bold.svg#Pretendard-Bold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Black.eot');
    src: url('../font/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('../font/Pretendard-Black.woff2') format('woff2'),
        url('../font/Pretendard-Black.woff') format('woff'),
        url('../font/Pretendard-Black.ttf') format('truetype'),
        url('../font/Pretendard-Black.svg#Pretendard-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

