@charset "UTF-8";

html, body { margin: 0; padding: 0; }
* { line-height: 1; margin: 0; padding: 0; }

/********* reset.css **********/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i,dl, dt, dd, ul, ol, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary,
time, mark, audio, video {	margin: 0;	padding: 0;	border: 0; font-size:100%; letter-spacing: -0.3px; font: inherit;  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
h1,h2,h3,h4,h5,h6 {font-size:1rem; font-weight:normal;}
ul,ol,li {list-style-type:none;}
a {color: #333; text-decoration:none;}
caption {position: static; overflow: hidden; width: 1px; height: 1px;  margin: 0;  padding: 0;  font-size: 1px;  text-indent: -9999px;}
button {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; border:0 none; background-color:transparent; font-family:inherit; font-size:inherit; cursor:pointer;}
input {-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; padding:0;}
textarea {width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
select {cursor:pointer;}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}
em {
  font-style: normal;
}
/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  margin: 0; padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
}

/* // 크기 조정 10px */
html { font-size: 62.5%; }
/* // 반응형 크기 조정 768px */
@media (width <= 768px) {
    & { font-size: 60%; }  
}
/* // 반응형 크기 조정 360px */
@media (width <= 360px) {
    html { font-size: 40%; }  
}
/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.none { border:0 !important; clip: rect(1px, 1px, 1px, 1px) !important; -webkit-clip-path: inset(50%) !important; clip-path: inset(50%) !important; height: 1px !important; overflow: hidden !important; padding: 0 !important; position: fixed!important; width: 1px !important; white-space: nowrap !important; display: block; }






