// src/assets/scss/style.scss
@import 'variables';

.none { display: none; }


// app.vue
#skipMenu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  a {
      width: 100%;
      height: 0;
      font-size: 1.5rem;
      line-height: 2;
      color: #fff;
      background: #2b2b2b;
      text-align: center;
      overflow: hidden;
      display: block;
      &:focus { height: auto; }
  }
}
html { font-family: $font-basic; }

// wrap
#wrap {
  article {
    width: 100%;
    box-sizing: border-box;
    > section {
      width: 100%;
      padding: 10rem $setPd;
      .sec_inner {
        max-width: $setWidth;
        margin: 0 auto;
      }
    }
  }
  // header.vue
  header {
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    border-bottom: .1rem solid $color-gray-e;
    transition: transform 500ms ease-in-out;
    display: block;
    background: rgba(#ffffff, 0.6);
    backdrop-filter: blur(3px);
    padding: 0 $setPd;
    transform: translateY(-8rem);
  .h_inner {
    width: 100%;
    max-width: $setWidth;
    margin: 0 auto;
    display: flex;
    gap: 2vw;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    background: svg-icon(logo-wide, $color-main-svg) no-repeat center center;
    text-indent: -9999px;
    display: block;
    width: 33rem;
    height: 8rem;
  }
  nav {
    margin-left: auto;
    ul {
      display: flex;
      align-content: center;
      li {
        font: {
          size: 1.6rem;
          weight: $fw-light;
          family: $font-basic;
        }
        color: $color-gray-3;
        display: block;
        padding: 3.2rem 3rem;
        &:hover {
          color: $color-main;
          -webkit-text-stroke: 1px rgba($color-main, 0.4);
        }
      }
    }
  }
  &.head-fix {
    transform: translateY(0);
    box-shadow: 0 -1px 15px 0 rgba(#000000, 0.2);
  }
  // 테마변경 토글 디자인
  .col-tog {
    width: 35px; height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    background: #fff;
    border: .2rem solid #eee;
    transition: background 800ms;
    flex-shrink: 0;
    i {
        box-sizing: border-box;
        padding: 0.5rem;
        position: absolute;
        width: 100%; height: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        rotate: 0deg;
        transform-origin: bottom;
        transition: rotate 800ms;
        img {
            width: 30px; height: 30px;
            display: block;
            margin: 0 auto;
            &:last-child {
                width: 25px;
                height: 25px;
                rotate: 175deg;
            }
        }
    }
    &.active {
        background: #222;
        border: .2rem solid rgba($color-main-l, .4);
        i {
            rotate: -180deg;
        }
    }
    
  }
  // 메뉴 버튼
  .menu-tog {
      width: 35px;
      height: 35px;
      border-radius: 50px;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      background: #fff;
      border: 0.2rem solid #eee;
      transition: background 800ms;
      flex-shrink: 0;
      display: none;
    
      i {
        position: relative;
        width: 60%;
        margin: 0 auto;
    
        &::before,
        &::after {
          content: "";
          width: 100%;
          height: 1px;
          position: absolute;
          left: 0;
          border-radius: 10rem;
          rotate: 0deg;
          transform: translateY(-50%);
          transform-origin: 50% 50%;
          transition: top 500ms ease-in-out, rotate 500ms ease-in-out;
        }
    
        &::before {
          top: -4px;
          background: $color-main;
        }
    
        &::after {
          top: 4px;
          background: $color-gray-9;
        }
      }
    
      &.active {
        i {
          &::before,
          &::after {
            top: 0; // 선들이 겹쳐지도록 이동
          }
          &::before {
            animation: rotateToXBefore 500ms ease-in-out forwards 500ms; // 회전 애니메이션에 500ms 지연 추가
          }
          &::after {
            animation: rotateToXAfter 500ms ease-in-out forwards 500ms; // 회전 애니메이션에 500ms 지연 추가
          }
        }
      }
    
      &:not(.active) {
        i {
          &::before {
            top: -4px;
            rotate: 0deg;
            transition: top 500ms ease-in-out, rotate 500ms ease-in-out;
          }
    
          &::after {
            top: 4px;
            rotate: 0deg;
            transition: top 500ms ease-in-out, rotate 500ms ease-in-out;
          }
        }
      }
  }
  
  @keyframes rotateToXBefore {
  0% {
      rotate: 0deg;
  }
  100% {
      rotate: 40deg;
  }
  }
  @keyframes rotateToXAfter {
      0% { rotate: 0deg; }
      100% { rotate: -40deg; }
  }
  }
  // 타이틀
  .sec_tit {
    @include secTitle();
  }
  // 콘텐츠 그룹
  .sec_area {
    position: relative;
    margin-top: 6rem;
    h2 {
      @include sub-title();
    }
    p {
      span {
        @include sub-under();
        &:not(:last-child) {
          margin-bottom: .8rem;
        }
      }
    }

    
  
  }
  .btn-set {
    @include button-style;
    &-arr {
      @include button-style($jcc:space-between);
      gap: 1rem;
      &::after {
          content: "→";
          display: block;
      }
      &:focus, &-active {
          &::after {
              color: #fff;
          }
      }  
      &:disabled {
          &::after {
              color: $color-disabled;
          }
      }
    }
  }
  
  .arr-set {
    @include arrow-icon;
  }
  .btn-area {
    display: flex; gap: 1rem;
    width: 100%; margin-top: 6rem;
  }
  // main.vue
  main {
    position: relative;
    padding: $setPd;
    height: 100vh;
    .m_inner {
      max-width: $setWidth;
      padding-top: 4rem;
      width: 100%;
      margin: 0 auto;
    }
    .m_logo_ts {
        fill:transparent;
        stroke: #fff;
        stroke-width: .02rem;
        stroke-dasharray: 1 500;
        stroke-dashoffset: 1;
    }
    .svg-txt {
        width: 90%;
        margin: 1rem 0 2.5rem 0;
        display: block;
    }
    .m_copy {
      width: 100%;
      display: flex;
      gap: 6vw;
      align-items: center;
      .m_text { width: 100%; }
      em, span { color: #fff; }
      em {
        font: {
          size: 5rem;
          family: $font-title
        }
      }
      span {
        display: block;
        margin-top: 3rem;
        font: {
          size: 2.6rem;
          family: $font-basic;
          weight: $fw-light;
        }
        b {
          font-weight: $fw-regular;
          -webkit-text-stroke: 1px rgba(#ffffff, 0.6);
        }
      }
    }
    canvas {
      width: 100%; height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100vh;
    }
    .scroll {
      position: absolute;
      bottom: 5vw;
      width: 15rem; height: 15rem;
      &::before {
        content: "";
        background: svg-icon(logo-symbol, $color-main-svg) no-repeat center center;
        width: 60%; height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%; top: 50%;
        transform: translate(-50%, -50%);
      }
      span {
        background: svg-icon(scroll-down, $color-main-svg) no-repeat center center;
        width: 15rem; height: 15rem;
        display: block;
      }
    }
  }
  // about.vue
  .profile-thumb {
    top: -18rem;
    right: 0;
    position: absolute;
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 34%;
    max-width: 52rem;
    aspect-ratio: 1/1;
    background: rgba($color-main, 0.05);
    img {
      width:65%;
      max-width: 30rem;
      object-fit: contain;
      position: relative;
      left: -1vw;
    }
  }
  .skill_stack {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 5rem;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    h2 { margin-bottom: 0; }
    .skill_ico {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;
        span {
            width: 57px; height: 57px;
            background: url(assets/img/skill_icon.png) no-repeat 0 0;
            display: block;
            text-indent: -9999px;
            border-radius: 1rem;
            &:hover {
                em {
                  display: block;
                }
            }
        }
        @for $i from 1 through 13 {
            span:nth-child(#{$i}) {
                background-position-x: -57px * ($i - 1);
            }
        }
        em {
            display: none;
            position: absolute;
            font-size: $fz-12;
            padding: 0.5rem;
            border-radius: 1rem;
            top: 0;
            left: 0;
            width: 100%;
            border: .1rem solid $color-main;
            background: #fff;
        }
    }
  }

  // project.vue
  .pj {
    &-publishing {
      background: $color-main;
      .sec_tit {
        @include secTitle(#fff, #fff);
      }
      .pub-slide {
        .swiper-slide {
          display: flex;
          justify-content: space-between;
          gap: 3vw;
        }
      }
      .pub-prev, .pub-next {
        position: absolute; 
        top: calc(50% - 2.5rem);
        &.pub-prev { left: -5vw; }
        &.pub-next { right: -5vw; }
      }
      .pj-info {
        width: 100%;
        padding-top: 6rem;
        .skill-label {
          display: flex; gap: 0.5rem;
          margin-bottom: 2rem;
          em {
            line-height: 1;
            padding: 0.5rem .8rem;
            border-radius: 2rem;
            border: .1rem solid #fff;
            color: #fff;
            font: {
              size: $fz-12;
            }
          }
        }
        h2 {
          @include sub-title(#fff);
        }
        p {
          @include sub-under(#fff);
          line-height: 1.5;
          word-break: keep-all;
        }
        dl {
          @include sub-under(#fff);
          display: flex;
          align-items: center;
          padding: 3rem 0 2rem 0;
          border-bottom: .1rem solid rgba(#ffffff, 0.2);
          dd {
            font-weight: $fw-bold;
            margin-left: 1rem;
            &:first-of-type {
              &::after {
                content: "│";
                display: inline-block;
                margin: 0 .8rem;
                color: rgba(#ffffff, 0.2);
              }
            }

          }
        }
      }
      .pj-thumb {
        background: url(assets/img/monitor.png) no-repeat top center / contain;
        max-width: 67.7rem;
        height: 51.9rem;
        position: relative;
        flex-shrink: 0;

        a { 
          outline: none;
          max-width: 96%;
          display: block;
          width: 100%;
          position: relative;
          left: 2%; top: clamp(1.7%, 2vw, 3.3%);
          z-index: -1;
          aspect-ratio: 16/8.5;
          img {
            width: 100%; height: 100%;
            object-fit: cover;
            object-position: top;
            transition: object-position 2000ms ease-in-out;
          }
          &:focus {
            img {
              object-position: bottom;
            }
          }
        }
        &:hover {
          a img {
            object-position: bottom;
          }
        }
      }
    }
    &-design {
      padding: 10rem 0;
      .sec_inner { max-width: 100%; }
      .swiper { min-height: 38rem; }
      .swiper-slide {
        transition: transform 1000ms;
        transform: translateY(6rem);
        &-prev, &-next {
          transform: translateY(3rem);
        }
        &-active {
          transform: translateY(0);
        }
        &:hover {
          .pj-info {
            p { color: $color-main; }
            > a {
              background: svg-icon(arrow-half, $color-white-svg) no-repeat 0 0;
              &::before {
                  content: "";
                  right: -1.3rem;
                  background: $color-main;
              }
            }
          }
        }
      }
      .pj-thumb {
        width: 100%;
        overflow: hidden;
        border-radius: 1rem;
        border: 1px solid #eee;
        aspect-ratio: 16/8.8;
        i.signal {
          width: 100%; height: 2.6rem;
          background: $color-gray-f1;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          &::before {
              content: "";
              width: .9rem; height: .9rem; 
              border-radius: 1rem;
              position: absolute;
              background: #d63232;
              box-shadow: 1.3rem 0 0 0 #f4c32c, 2.6rem 0 0 0 #74c335;
          } 
        }
        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
      .pj-info {
        position: relative;
        padding: 2rem 0;
        p {
          font: {
            size: $fz-18;
            weight: $fw-bold;
          }
          color: $color-gray-3;
        }
        span {
          font: {
            size: $fz-12;
            weight: $fw-regular;
          }
          color: $color-gray-7;
          display: block;
          margin-top: .8rem;
          em {
            &::after {
              content: "│";
              font-size: $fz-12;
              margin: 0 .2rem;
            }
          }
        }
        > a {
          display: block;
          background: svg-icon(arrow-half, $color-af-svg) no-repeat 0 0;
          width: 2rem; height: 0.6rem;
          position: absolute;
          top: 45%;
          right: 2rem;
          transition: background 500ms;
          &::before {
              content: "";
              background: rgba($color-main, .05);
              width: 2.4rem; height: 2.4rem; border-radius: 3rem;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: -1.6rem;
              z-index: -1;
              transition: background 500ms, right 500ms;
          }
        }
      }
      .btn-area {
        justify-content: center;
        margin-top: 2rem;
      }

    }
  }

  footer {
    background: $color-gray-3;
    padding: 10rem 0;
    .sec_tit {
      @include secTitle(#fff, #fff)
    }
    address {
      margin-top: 2rem;
      span {
        display: block;
        font: {
          size: $fz-14;
          family: $font-basic;
          style: normal;
        }
        color: #fff;
        text-align: center;
        line-height: 1.5;
      }

    }
  }
} 

